.mas {
  color: $azul;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-decoration-line: underline;
  background-color: transparent;
}

.boton-acciones {
  border: none;
  padding: 0.8rem;
  border-radius: 25px;
  cursor: pointer;
  background-color: transparent;
  i {
    color: $azul;
  }
}

.boton-asignar {
  @include boton(#008896, block);
  border-radius: 10px;
}

.quitar {
  background-color: #cb0000;

  &:hover {
    background-color: darken($color: #cb0000, $amount: 5);
  }
}

.oculto {
  display: none;
}
