.modal-agregar {
  .modal-usuarios {
    width: 90%;

    .formulario-grupo {
      .buscar {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        button {
          margin: 0;
        }

        input {
          border-radius: 15px;
        }
      }

      input[type="text"],
      input[type="select"],
      input[type="password"],
      input[type="number"],
      input[type="email"] {
        height: 4rem;
      }

      .contenedor-usuario {
        @include grid(1, 1rem);
        margin-top: 1rem;
        @include tablet {
          @include grid(3, 1rem);
          margin-top: 1rem;
        }

        .columna-usuario {
          display: flex;
          flex-direction: column;
        }
      }

      .estado {
        display: flex;
        align-items: center;
        gap: 2rem;

        margin-top: 2rem;
      }
    }
  }
}
