.contenedor-barra {
  background-color: $azul;
  z-index: 1;
  color: $blanco;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
  width: 4rem;
  transition: width 0.3s ease-in-out, opacity 0.5s linear, height 0.5s linear;
}

.contenido-cabecera {
  visibility: hidden;
}

.mostrar-logo {
  visibility: visible;
  transition: visibility 0.1s ease-out, opacity 0.5s linear, height 0.5s linear;
}
.contenedor-logo {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo-unasam {
    width: 9rem;
  }
}

.ocultar {
  width: 20rem;
}

.texto-unasam {
  h3 {
    margin: 0;
  }

  h3::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.1rem;
    background-color: $gris;
  }
}

.items {
  a {
    color: $blanco;
    margin-bottom: 1rem;
    display: flex;
    padding: 0.5rem;
    font-size: 1.8rem;
    overflow: hidden;

    i {
      padding-right: 1rem;
      font-size: 3rem;
      justify-content: center;
    }

    &:hover {
      background-color: darken($color: $azul, $amount: 8);
      color: $blanco;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .sub-item {
    margin-left: 2rem;
    visibility: hidden;
    opacity: 0.1;
  }

  .mostrar-sub {
    visibility: visible;
    transition: visibility 0.1s ease-in-out, opacity 0.4s linear,
      height 0.5s linear;
    opacity: 1;
  }
}

.contenido-cabecera {
  a {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
    color: $blanco;
  }
}
