.contenedor-grupos {
  .titulo-grupos {
    h2 {
      text-align: center;
      //padding-left: 2rem;
      font-weight: $bold;
      font-size: 3rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      color: $azul;
    }
  }

  .acciones-grupo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94%;
    margin: 0 auto;

    .buscar {
      input {
        height: 3.9rem;
        width: 28rem;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-color: $azul;
        background-color: transparent;
      }
      i {
        color: $azul;
      }
    }

    .nuevo-grupo {
      display: flex;
      button {
        background: $amarillo;
        color: $blanco;
        cursor: pointer;
        margin-right: 1rem;
        padding: 0.8rem;
        border: none;
        flex: 4;

        &:last-of-type {
          margin-right: 0;
        }
      }

      .boton-grupo {
        flex: 4;
      }
    }
  }
}
/*
.grupos{
 
}
*/
.contenido-grupos {
  &::-webkit-scrollbar {
    width: 8px; /* Tamaño del scroll en vertical */
    height: 8px; /* Tamaño del scroll en horizontal */
    /* Ocultar scroll */
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: #999999;
  }

  @include grid(1, 3rem);
  width: 95%;
  margin: 0 auto;

  @include tablet {
    @include grid(4, 1rem);

    overflow: scroll;
    height: 47rem;
    width: 95%;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .grupo {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 26rem;
    height: 35rem;
    background-color: $azul;
    border-radius: 10px;
    margin-top: 1rem;

    h4 {
      margin: 0 2rem 0 0;
      text-transform: uppercase;
      color: $blanco;
      font-size: 1.8rem;
    }

    p {
      font-size: 1.5rem;
      color: $blanco;
      margin: 0;
    }

    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
    }

    .container {
      padding: 2px 16px;
    }

    .grupo-imagen {
      height: 20rem;
      width: 100%;
      margin: 0;
      border-radius: 10px 80px 0px 80px;
    }
  }
}

.modal-agregar {
  display: none;
  position: fixed; /* Stay in place */
  padding-top: 6rem;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */

  .contenido-modal-grupo {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;

    .encabezado-modal {
      color: $azul;

      h2 {
        margin: 0;
        font-weight: $bold;
      }
    }
  }

  .formulario-grupo {
    display: flex;
    flex-direction: column;

    input,
    select {
      padding: 12px 20px;
    }

    label {
      font-weight: $bold;
      margin: 8px 0;
    }

    button {
      @include boton($azul, block);
      padding: 1rem;
      margin: 0;
      margin-top: 2rem;
    }

    .contenido-tipos {
      display: grid;
      grid-template-columns: 3fr 1fr;
      gap: 2rem;
      width: 100%;
      margin: 2rem 0 2rem 0;
      align-items: center;
      justify-content: center;

      select {
        width: 100%;
        margin-right: 4rem;
      }

      button {
        width: 100%;
        border-radius: 1.5rem;
      }
    }
  }
  .close {
    color: #b6b3b3;
    font-size: 3rem;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #f50808e1;
    text-decoration: none;
    cursor: pointer;
  }

  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }

  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
}
