.datos-integrante {
  display: grid;
  gap: 1rem;
  grid-template-columns: 28rem 35rem 48rem;
  align-items: center;
  margin-top: 2.5rem;

  p {
    margin: 0;
  }

  .datos {
    width: 100%;
    height: 100%;
    .avatar-int {
      width: 80%;
      height: 100%;
      margin: 0 auto;
    }
  }

  .datos--text {
    .datos__nombre {
      font-weight: bold;
      font-size: 3rem;
    }
  }
  .datos--general {
    width: 80%;
    .info {
      padding: 2rem;
      margin-top: 2rem;
      background-color: #00afc4;
      color: #f3f9ff;
      border-left: 6px solid $azul;
    }
  }
}

.detalles-integrante {
  display: flex;
  width: 100%;
  margin: 1rem auto;
  background-color: $blanco;
  h3 {
    margin: 0;
  }

  .detalle {
    width: 95%;

    .contenedor-tabla__perfil {
      height: 27rem;
      padding-top: 0;
    }
    .titulo_participacion {
      font-weight: $bold;
      width: 95%;
      margin: 0 auto;
      padding: 0.1rem;
    }
  }
}
